
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.btn-1{
    color: white;
    background-color: rgb(253, 110, 10);
    font-weight: 700;
    padding: 20px;
    font-size: 1.15em;
    border: none;
    border-radius: 15px;
}

.section-heading-2{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}


.dark-1{
    color: rgb(24, 24, 24);
}

.dark-2{
    color: rgb(71, 71, 71);
}

.dark-3{
    color: rgb(117, 117, 117);
}

.background-bg{
    background-color: rgb(255, 248, 243);
}

/* header style */
header{
    margin: 0 0 36px 0;
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}
/* navbar style */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}
.name-span{
    color: rgb(253, 110, 10);
}
.nav-title{
    font-size: 48px;
    font-weight: 800;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items > li{
    margin-left: 48px;
    list-style: none;
    font-size: 26px;
    font-weight: 700;
}

.nav-items > li > a{
    text-decoration: none;
}

.nav-items > li > a:visited{
    color: gray;
}

/* banner styles */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px 0 200px;
}

.banner-content{
    max-width: 585px;
    max-height: 356px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-name{
    font-size: 85px;
    font-weight: 700;
    margin: 24px 0 24px 0;
}
.banner-description{
    margin-bottom: 20px;
}
.banner-profile-pic{
    width: 584px;
    height: 676px;
}

/* main section styles */
.main-section{
    max-width: 1140px;
    margin: 130px auto;
}

/* about section */

.about{
    padding: 125px 150px;
    border-radius: 15px;
    margin-bottom: 130px;
}

.about-content{
    text-align: center;
    max-width: 824px;
    height: 285px;
    border: 1px solid gray;
    background-color: white;
    padding: 5px 6px;

    border-radius: 15px;
}

.about-info{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* what i do section */
/* .what-i-do{
    
} */

.do-description{
    text-align: center;
    margin: 56px 56px;
    font-size: 18px;
    line-height: 30px;
}

.cards{
    display: flex;
    justify-content: space-around;
}

.card{
    width: 220px;
    height: 320px;
    padding: 18px;
    background-color: white;
    box-shadow: 0 0 10px 15px rgb(128, 128, 128, 0.08);
}

.card > p{
    line-height: 30px;
}

.card > h3{
    font-weight: bolder;
    font-size: larger;
}

/* resume section styles */
.resume{
    display: flex;
    flex-direction: column;
}

.resume-container{
    display: flex;
}

.experience-container, .education-container{
    /* gap: 24px; */
    padding: 24px 56px 24px 0;
}

.education-des, .expe-des{
    
}

.experience-container h3, .education-container  h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.experience-container p, .education-container p{
    font-size: 16px;
    line-height: 18px;
    margin: 12px 0;

}
.download-btn{
    display: flex;
    justify-content: center;
}
.resume hr{
    margin: 24px 0;
}

.footer-content{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

footer h2{
    font-size: 36px;
    font-weight: 700;
}

.footer-logo, form{
    width: 40%;
}

.footer-logo > p > img{
    margin: 24px 16px 0 0;
}

#name, #email, #text-area{
    display: block;
    border: none;
    padding: 15px;
    border-radius: 15px;
    margin: 48px 0;
    font-size: 24px;
}
